#header {
    height: 160px;
    text-align: center;
}

#header h1 {
    font-family: SimSun;
    font-size: 3.5em;
    color: rgb(27, 143, 252);
    text-shadow: 5px 5px 5px grey;
    padding-top: 38px;
}

#header img {
    height: 110px;
    width: auto;
}

.search {
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

.search form {
    height: 100%;
}

.search table {
    height: 100%;
    margin: 0 auto;
    border: 0;
    border-collapse: collapse;
}

#search_bar {
    height: 40px;
    font-size: 1.1em;
    width: 500px;
    padding: 5px 10px;
}

.search_tip_box {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: none;
    display: none;
}

.tip_item {
    display: block;
    text-align: left;
    padding: 3px 10px;
    text-decoration: none;
    color: black;
}

.tip_item:hover {
    background-color: gainsboro;
}

#search_button {
    height: 40px;
    padding: 0 25px;
    font-size: 1.1em;
    color: white;
    background-color: rgb(27, 143, 252);
    border: 0;
}

#search_button:hover {
    cursor: pointer;
    background-color: rgb(0, 132, 255);
}

#search_button:active {
    background-color: rgb(7, 114, 214);
}

#num {
    text-align: center;
    font-size: 1.1em;
}

#num span {
    color: red;
    font-size: 2em;
    
}
