#nav {
    height: 90px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

#header {
    margin: 22px 60px;
}

#header h1{
    display: inline;
    font-size: 1.87em;
    border-right: grey solid 1px;
    padding: 0 10px;
}

#header span {
    display: inline;
    font-size: 1.8em;
    padding: 0 10px;
}

#content {
    min-height: calc(100% - 194px);
    margin-top: 4px;
    padding-top: 45px;
    background-color: rgb(245, 245, 246);
}

#footer {
    background-color: rgb(245, 245, 246);
}

#login_area {
    width: 305px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 4px 4px 5px grey;
}

#login_form {
    padding: 15px;
    width: 305px;
}

#login_form p {
    margin: 10px 5px;
    font-size: 1.125em;
    font-weight: 500;
}
