* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-size: 100%;
    overflow-x: hidden;
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
}

#nav {
    border-bottom: 1px solid gainsboro;
    height: 45px;
}

#nav_content {
    float: right;
    text-align: right;
    min-width: 630px;
    height: 100%;
    font-size: 1.1em;
}

#nav_content p {
    display: inline;
    margin: 0 15px;
}

#login {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

#login:hover {
    color: rgb(27, 143, 252);;
}

#user {
    position: relative;
    display: inline-block;
}

#dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

#user_name:hover {
    color: rgb(27, 143, 252);
    cursor: pointer;
}

#user:hover #dropdown{
    display: block;
}

.dropdown_item {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    display: block;
    padding: 5px;
}

.dropdown_item:hover {
    background-color: rgb(27, 143, 252);
    color: white;
}

#view_all {
    font-size: 1.1em;
    color: white;
    height: 100%;
    background-color: rgb(27, 143, 252);
    border: 0;
    padding: 0 15px;
}

#view_all:hover {
    cursor: pointer;
    background-color: rgb(0, 132, 255);
}

#view_all:active {
    background-color: rgb(7, 114, 214);
}

#content {
    width: 100%;
    min-height: calc(100% - 200px);
    height: auto;
}

#footer {
    width: 100%;
    height: 155px;
    text-align: center;
    position: relative;
}

#footer_content {
    position: absolute;
    bottom: 0;
    width: 100%;
}
