{% extends 'base1.html' %}

{% block resources %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/page_header.css">
<script src="../static/js/search.js"></script>
{% endblock %}

{% block nav_content %}
{{super()}}
<div id="header">
    <a href="/" style="text-decoration: none;"><h1>匿名<img src="../static/img/icon.png" alt="">评教</h1></a>
</div>
<!--搜索框-->
<div class="search">
    <form action="/search" method="get">
        <table>
            <tr>
                <td>
                    <input type="text" name="search_bar" id="search_bar" autocomplete="off">
                    <div class="search_tip_box"></div>
                </td>
                <td>
                    <input type="submit" name="search_button" id="search_button" value="查一下">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}