<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="icon" href="../static/img/icon.ico" type="images/x-ico" />
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="../static/js/jquery-3.4.1.min.js"></script>
        <script src="../static/js/set_wh.js"></script>
        {% block resources %}{% endblock %}
    </head>
    <body>
        <!--整体包含所有内容的容器-->
        <div id="container">
            <!--首页顶部导航栏-->
            <div id="nav">
                {% block nav_content %}{% endblock %}
            </div>
            <!--内容区域-->
            <div id="content">
                {% block main_content %}{% endblock %}
            </div>
            <!--页脚-->
            <div id="footer">
                {% block footer_extra_content %}{% endblock %}
                <div id="footer_content">
                    <p style="color: rgb(252, 5, 87); padding: 5px 0">说你所想 因你不同</p>
                    <p style="color:#939393;">Contact us anoncomment@126.com</p>
                    <p style="color:#939393;">©2020 anoncomment.cn &nbsp Powered by <a href="https://github.com/24-solar-terms/AnonComment" style="color: rgb(27, 143, 252);; text-decoration: none;" target="_blank">AnonComment</a></p>
                    <div style="width:500px; margin:0 auto; padding: 5px 0">
		 		        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37012402000154" style="display:inline-block; text-decoration:none; height:20px; line-height:20px;">
                            <img src="../static/img/beian.png" style="float:left;"/>
                            <p style="float:left; height:20px; line-height:20px; margin: 0px 0px 0px 5px; color:#939393;">鲁公网安备 37012402000154号 | 鲁ICP备18051031号</p>
                        </a>
		 	        </div>
                </div>
            </div>
        </div>
    </body>
</html>