{% extends 'base1.html' %}

{% block resources %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/index_style.css">
<script src="../static/js/search.js"></script>
{% endblock %}

{% block main_content %}
<!--网页名称-大标题-->
<div id="header">
    <h1>匿名<img src="../static/img/icon.png" alt="">评教</h1>
</div>
<!--搜索框-->
<div class="search">
    <form action="/search" method="get">
        <table>
            <tr>
                <td>
                    <input type="text" name="search_bar" id="search_bar" autocomplete="off">
                    <div class="search_tip_box"></div>
                </td>
                <td>
                    <input type="submit" name="search_button" id="search_button" value="查一下">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}

{% block footer_extra_content %}
<!--评论条数统计-->
<div id="num">
    <p>目前已有<span id="tot_num">{{tot_comments_num}}</span>条评论被留下</p>
</div>
{% endblock %}