{% extends 'base.html' %}

{% block resources %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/page_header.css">
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}

{% block nav_content %}
<div id="header">
    <a href="/" style="text-decoration: none;"><h1>匿名<img src="../static/img/icon.png" alt="">评教</h1></a>
    <span>登录</span>
</div>
{% endblock %}

{% block main_content %}
<div id="login_area">
    <form action="" id="login_form">
        <p>QQ登录</p>
        <a style="margin-left: 55px" href="/qqlogin"><img src="../static/img/QQlogin.png"></a>
    </form>
</div>
{% endblock %}