{% extends 'base2.html' %}
{% from 'show_comments.html' import show_comments with context %}
{% from 'comment_form.html' import show_comment_form with context %}

{% block resources %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/teacher_style.css">
<script src="../static/js/text_limit.js"></script>
<script src="../static/js/submit.js"></script>
<script src="../static/js/like.js"></script>
<script src="../static/js/ways_of_showing.js"></script>
<script src="../static/js/management.js"></script>
{% endblock %}

{% block nav_content %}
{{super()}}
{% endblock %}

{% block main_content %}
<div id="main_content">
    <!--教师信息表格-->
    <div id="table_area">
        <table id="info_table">
            <tr>
                <td><p class="t_title">{{info[1]}}</p></td>
                {% if info[10] < 1 %}
                <td style="text-align: right; padding-right: 20px; width: 22%;"><p id="tot_score">--</p></td>
                {% else %}
                <td style="text-align: right; padding-right: 20px; width: 22%;"><p id="tot_score">{{info[11]}}</p></td>
                {% endif %}
            </tr>
            <tr>
                <td>{{info[3]}}</td>
                <td style="text-align: right; padding-right: 20px; width: 22%;">{{info[10]}}人参与评分</td>
            </tr>
            <tr>
                <td>{{info[4]}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{info[6]}} {{info[7]}}</td>
                <td></td>
            </tr>
            <tr>
                {% if info[10] %}
                <td>{{info[13]}}%的人认为该老师会点名</td>
                {% else %}
                <td>--%的人认为该老师会点名</td>
                {% endif %}
                <td></td>
            </tr>
            <tr>
                <td><p class="t_title">主讲课程</p></td>
                <td></td>
            </tr>
            <tr>
                <td>{{info[8]}}</td>
                <td></td>
            </tr>
        </table>
    </div>
    <!--评论区域-->
    <div id="comment_area">
        <div id="comment">
            <form action="" id="comment_form" method="POST">
                {% if user_name %}
                    {% if user_comment %}
                    <div class="comment_form" style="display: inline">
                        <p style="display: inline; font-size: 1.1em;">您的评分：</p>
                        <p id="user_score" style="display: inline; font-size: 1.1em; margin-right: 10px;">{{user_comment[3]}}</p>
                        <p style="display: inline; font-size: 1.1em;">
                            是否点名：
                        </p>
                        {% if user_comment[4] %}
                        <p id="user_call_roll" style="display: inline; font-size: 1.1em;">会</p>
                        {% else %}
                        <p id="user_call_roll" style="display: inline; font-size: 1.1em;">不会</p>
                        {% endif %}
                        <textarea id="comment_bar" readonly>{{user_comment[5]}}</textarea>
                        <div style="display: inline-block">
                            <img src="../static/img/edit.png" id="edit_button">
                            <p style="color: gray">点击修改</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="comment_form" style="display: inline">
                        {{show_comment_form(form)}}
                    </div>
                    {% endif %}
                {% else %}
                <input type="button" id="require_login" value="请登录后评教" onclick="javascript:window.location.href='/login'">
                {% endif %}
            </form>
        </div>
        <div id="messages_info">
            <div id="rank_num"><p>{{count}}条评论</p></div>
            <div id="rank_ways">
                <p id="hot_comments" flag="1">人气评论</p>
                <p id="newest_comments" flag="0">最新评论</p>
            </div>
            <div class="clear"></div>
        </div>
        <div id="messages">
            {{show_comments(count, comments, user_name)}}
        </div>
    </div>
</div>
{% endblock %}